@font-face {
  font-family: 'FuturabtBook';
  src: url('../webfonts/ufonts.com_futurabt-book-opentype.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FuturaHeavy';
  src: url('../webfonts/ufonts.com_futura-heavy.ttf');
  font-weight: normal;
  font-style: normal;
}




$select: #0069b4;
$colot-menu: #000;

$text-font: FuturabtBook;
$heder-font: FuturaHeavy;

.column, .columns{
    position: relative;
    min-height: 1px;
}

.buton-white{
	color:#000;
			background:#f2f3f4;
			padding: 12px;
			font-size: 1.1rem;
			text-decoration:none;
			text-transform: uppercase;
			
			&:active,&:focus,&:hover {
				background:#000;
				color:#fff;
			}

}


@mixin breakpoint($point) {

  @if $point == x-small {
    @media (max-width: 480px) { @content; }
  }

  @else if $point ==  small {
    @media (max-width: 767px) { @content; }
  }

  @else if $point == medium {
    @media (max-width: 991px)  { @content; }
  }

  @else if $point == large {
    @media (max-width: 1200px)  { @content; }
  }

  @else if $point == x-large {
    @media (max-width: 1500px)  { @content; }

  }

}

body{
font-family:$text-font;
font-size: 13px;
}

h1,h2,h3,h4,h5,h6{
font-family:$colot-menu;
}

a{
text-decoration:none;
}

img{
    max-width: 100%;
}

.animated, .animated.infinite, .animated.hinge, .animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
@include breakpoint(small) {
          animation-duration:0 !important;
		  animation-name: none !important;
		  transform: none !important;
         }

}

.two-column{
display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		
		align-items: center;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		
		@include breakpoint(small) {
          display: block;
         }
}


.header{
	.header-logo{
		   padding: 25px 0;
		   
		   img{
		   max-width: 110px;
		   }
	}
}

.site-branding{
	&.f-nav{ 
		z-index: 9999; 
		position: fixed; 
		left: 0; 
		top: 0; 
		width: 100%;
		background:rgba(250, 250, 250, 0.9);
		
		.header-logo{
			padding: 34px 0px 10px 30px;
			
			img{
				max-width: 90px;
			}
			@include breakpoint(small) {
			    padding: 7px 0px 10px 30px;
			}
		}
		.header-social{
			display:none;
		}
		   .site-navigation{
			padding-top: 49px;
		   }
		}

}





.site-navigation {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	font-size: 14px;
	padding-top: 50px;
	    z-index: 100;
	
	@include breakpoint(medium) {
      display:none;
	      position: absolute !important;
		right: 20px;
		background: #fff;
		width: 100%;
		top: 58px;
		padding: 5px 10px;
         }
	
	.nav-menu {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	
			}
	li, .menu-item{
		display: inline-block;
		
		
		@include breakpoint(medium) {
		    display: block;
			text-align:center;
		}
		
		a {
		padding: 7px 5px;
		text-decoration: none;
		text-transform: uppercase;
		color:$colot-menu;
	  &:active,&:focus,&:hover {
		color:$select;
	}	
		}
	}		
			
	&.toggled-on {
	padding: 72px 0 36px;
	
		.nav-menu {
		display: block;
		}
				}
			
}




/* Secondary Navigation */

.secondary-navigation {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	font-size: 12px;
	margin: 48px 0;
	
	 a {
	padding: 9px 0;
		}
}


.menu-toggle {
	border-radius: 0;
	cursor: pointer;
	height: 48px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 10px;
	right: 0;
	text-align: center;
	width: 48px;
	display:none;
	

		
	&:active,focus,hover {
	background-color: #444;
	}	
	
	&:focus {
	outline: 1px dotted;
	}
	
	@include breakpoint(medium) {
      display:block;
         }
}

.header-social{
    font-size: 14px;
    padding-top: 50px;
	ul{
		li{	display: inline-block;
		
		a {
		padding: 9px 7px;
		color: #fff;
		background:#e2e5e7;
		text-decoration:none;
		
	  &:active,&:focus,&:hover {
		color:#fff;
		background:$select;
		
	}	
		}
	}
	}
	@include breakpoint(medium) {
	    width: 40% !important;
	}
}

.top-section{
	    width: 100%;
		padding:0;
		margin:0 auto;
	.top-section-blocks{
		margin-left:0;
		display: inline-block; width: 33.3%;
		img{
			max-width:100%;
			
			@include breakpoint(medium) {
          width: 100%;
         }
		}
		h3{
		color:$select;
		margin-bottom: 5px;
		font-size: 3.2rem;
		font-weight: bold;
		}
		.top-section-blocks-more{
			display: block;
			background: url(../img/arrow.png) no-repeat;
    		width: 50px;
			height: 15px;
    		float: right;
    		margin: 20px;
		}
		.top-section-blocks-text{
			padding: 11% 7%;
			    border-right: 1px solid #e2e5e7;
			
			.top-section-blocks-text--text{
			    padding-bottom: 15px;
				
			}
		}
		@include breakpoint(medium) {
          width: 100%;
         }
	}
}



.container{
    max-width: 1200px;
	
	@include breakpoint(x-large) {
      max-width:100%;
         }
}




#owl-demo {
	.item {
		position:relative;
		img{
		display: block;
		width: 100%;
		height: auto;
		}
		
		.owl-demo-text{
		position: absolute;
           top: 29%;
           left: 0%;
		   right:0%;
		   font-size: 5rem;
			color: #fff;
			text-align:center;
			font-weight: bold;
		   
		   a{
		    
			padding: 12px;
 			font-size: 1.1rem;
			text-decoration: none;
			text-transform: uppercase;
			color: #fff;
			background: $select;
			    font-weight: normal;
	
			&:active,&:focus,&:hover {
				background:#000;
				color:#fff;
			}
		   }
		   
		   
		}
	}
	
	.scroll-to{
		position:absolute;
		bottom:20px;
		
		 position: absolute;
		left: 0%;
    right: 0%;
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
	
	@include breakpoint(small) {
		    display:none;
		}
	
	img{
		   width:auto;
		   position:relative;
		   display: inline-block;
			padding-right: 7px;
		   }
	}
.owl-controls{
	display:none !important;
}	
}


.docs-section{
	.docs-section-box-center{
		text-align:center;
		padding:50px 0;
		
		@include breakpoint(small) {
		   width:100%;
		   margin-left:0px;
		}
		
		h6{
		font-weight: bold;
		}
	}
	.docs-section-box{
		@include breakpoint(small) {
		    width:0;
		}
	}
	
	
}
.full-width{
       margin: 50px 0;
.offer-section{
		@extend .two-column;
		
		background:#0069b4;
		color:#fff;

	.offer-section-box{
		img{
			width:100%;
			margin: -40px 0;
			height:auto;
		}
		h3{
		font-size: 2.5rem;
		
		}
		.offer-section-box-anhor{
			@extend .buton-white
		}
		
		@include breakpoint(medium) {
		    padding-bottom: 20px;
			padding-top: 20px;
		}
		
		@include breakpoint(small) {
		    width: 100%;
			display: block;
			clear: both;
			margin-bottom: 20px;
		}
		
		&.offer-section-box-one{
			@include breakpoint(small) {
		    display:none;
		}
		}
	}
}

	    position: relative;
	.full-width-bg{
	opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    background: #0069b4;
	
	@include breakpoint(medium) {
			width:100%;
         }
	
	}
}

.product-section{
		@extend .two-column;
		    margin: 140px 0;
			
			@include breakpoint(medium) {
			width:100%;
         }
	
		
		
		.product-section-box{
		img{
			max-width:100%;
			max-height: 450px;
			
			width:auto;
			
						
		}
		h3{
		font-size: 3rem;
		
		}
		
		.product-section-box-anhor{
			@extend .buton-white
		}
		
		&:first-of-type{
			img{
			float: right;			
			}
		

			}
	}
	
	@include breakpoint(medium) {
      .product-section-box-three.columns{
		display:none;
	  }
	  .product-section-box-four.columns, .product-section-box-five.columns{
	  width:50%;
	  }
         }
	@include breakpoint(small) {
		    .product-section-box-five.columns, .product-section-box-four.columns{
	  width:100%;
	  
		img{
			    float: none;
				display:block;
				margin:0 auto;
			
		}
	  }
		}	
}	

.sukces-section{
background:$select;
height:100%;overflow:hidden;
	.sukces-section-box{
	    display: inline-table;
		width:19.7%;
		color:#fff;
		text-align:center;
		text-transform: uppercase;
		padding: 35px 0;
		padding-bottom:2035px;margin-bottom:-2000px;
		
		
		@include breakpoint(medium) {
			width:48%;
         }
		 
		 span{
		     display: block;
			     font-size: 30px;
		 }
		 
		 &:active,&:focus,&:hover {
				background:#005b9c;
			}
	}
}	

.finibus-section{
text-align: center;
    padding: 100px 0;
	
	.finibus-section-box-center{
		a{
	        display: block;
    background: url(../img/arrow.png) no-repeat right 3px;
    width: 144px;
    margin: 20px;
    margin: 0 auto;
	color:#000;
	text-transform:uppercase;
	    font-size: 11px;
		}
		
		h3{
			span{
				color:$select;
			}
		
		}
	
	}
}

.around-section{
    margin-bottom: 100px;
	    position: relative;
	.around-section-box--top{
	
		position: absolute;
    background: $select;
	color:#fff;
    padding: 5%;
    bottom: -45px;
	right:90px;
	text-align: right;
	
		h4{
	    font-size: 2.0rem;
	}
	@include breakpoint(medium) {
      width: 47%;
    right: 5px;
         }
		 
	@include breakpoint(small) {
      width: 100%;
	position:relative;
         }	 
	}
	
}

.numbers-section{
		@extend .two-column;
		    margin: 120px 0;
			text-align: justify;
		
		.numbers-section-box{
		span{
			color:$select;
			  display: block;
			font-size: 25px;
		}
				
		.numbers-section-box-anhor{
			@extend .buton-white
		}
		@include breakpoint(small) {
		text-align:center;
		}
	}
	@include breakpoint(medium) {
		.numbers-section-two.columns, .numbers-section-one.columns{
		display:none;
		}
		.numbers-section-four.columns{
			width:48%;
		}
		.column, .columns{
		margin-left:0px;
		}
		.numbers-section-box{
		}
	
	}	
}


.slider-section{
	    margin: 100px 0;
		position: relative;
		
		#owl-slider {
	.item{
		margin: 3px;
		    padding: 0 10px;
		
		img{
			display: block;
			width: 100%;
		height: auto;
		}
		
		h5{
		    position: absolute;
		top: 5%;
		color: #fff;
		left: 15%;
		font-size: 2.2rem;
		
		}
		.owl-slider-image-text{
		    position: absolute;
		bottom: 5%;
		color: #fff;
		left: 15%;
		}
	}
	
	.owl-controls{
		.owl-pagination{
		display:none !important;
		}
	.owl-buttons{
		 float: right;
		 .owl-prev{
			background:url(../img/arow-2.png) no-repeat;
			    opacity: 1;
			    padding: 3px 4px;
			&:hover{
			    opacity: 0.8;
			
			}
			
		 }
		 
		 .owl-next{
		 background:url(../img/arow-1.png) no-repeat;
		 opacity: 1;
		    padding: 3px 4px;	
			&:hover{
			    opacity: 0.8;
			
			}
		 }
	}	
	}
}
}
.people-section{
	    margin: 100px 0;
		
		#owl-people {
	.item{
		margin: 3px;
		    padding: 0 10px;
			text-align:center;
		
		img{
			display: block;
			max-width: 100%;
		height: auto;
		    margin: 0 auto;
		}

		h6{
			
		}
		p{
		    font-size: 20px;
			max-width: 800px;
			margin: 0 auto;
		}
		.owl-people-text{
		text-align:left;
		  img{
		  float:right;
			@include breakpoint(medium) {
			float:none;
			}
		  }
		  p{
			padding-top:37px;
			font-size:13px;
			 
			  span{
			  color:$select;
			  }
			  
			  @include breakpoint(medium) {
			text-align:center;
			}
		  }
		}
	}
	.owl-controls{
	    margin-top: 32px;
		
		
		span{
			background: transparent;
			border: 2px solid #ccc;
			width:8px;
			height:8px;
		}
		
		.active{
			span{
			border: 2px solid $select;
		}
		}
	}
}
}
.site-footer{
	background:url(../img/bgfooter.jpg) no-repeat;
	padding:75px 0 30px 0;
	background-size:cover;
	    width: 100%;
    display: table;
	color:#fff;
	
	.six, .five{
		&.column:first-of-type, &.columns:first-of-type{
	margin-left:0;
	}
	}
	
	
	form{
	p{
		margin-bottom: 0rem;
		}
		
		textarea,input{
		    background: transparent;
			color: #fff;
			border-radius: 0;
			text-transform: uppercase;
		}
		textarea{
			width:100%;
		}
		input[type=submit]{
			background:#fff;
			color:#000;
			float: right;
			padding: 0 10%;
		}
		
		.wpcf7-form-control-wrap{
		&.your-name{
			width: 48%;
			display:inline-block;
			padding-right:3%;
		}
		&.your-email{
		    width: 48%;
			display:inline-block;
		}
		input{
		width: 100%;
		}
		
	}
	}
	
	.site-footer-contact-company{
		background:url(../img/local.png) no-repeat 0 4px;
		padding-left: 25px;
		display: block;
		
		&.part{
			padding-bottom: 14px;
		}
	}
	.site-footer-contact-phone{
		background:url(../img/phone.png) no-repeat;
		display: block;
		padding-left: 25px;
	}
	.site-footer-contact-email{
		background:url(../img/send.png) no-repeat;
		display: block;
		padding-left: 25px;
	}
	.site-footer-h3{
	    padding-top: 41px;
	}
	
	.site-footer-info{
		border-top:1px solid #4a8eb9;
		    clear: both;
			padding-top: 20px;
		
		.site-footer-info-right{
		text-align:right;
		
		}
	}
	
}
.thumbnail-top{
	.size-post-thumbnail{
		width:100%;
		height:auto;
	}
}

.logos-section{
	margin-bottom: 60px;
	
		.img{
			    padding-left: 2%;
		}
}
