@font-face {
  font-family: 'FuturabtBook';
  src: url("../webfonts/ufonts.com_futurabt-book-opentype.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FuturaHeavy';
  src: url("../webfonts/ufonts.com_futura-heavy.ttf");
  font-weight: normal;
  font-style: normal; }
.column, .columns {
  position: relative;
  min-height: 1px; }

.buton-white, .full-width .offer-section .offer-section-box .offer-section-box-anhor, .product-section .product-section-box .product-section-box-anhor, .numbers-section .numbers-section-box .numbers-section-box-anhor {
  color: #000;
  background: #f2f3f4;
  padding: 12px;
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: uppercase; }
  .buton-white:active, .full-width .offer-section .offer-section-box .offer-section-box-anhor:active, .product-section .product-section-box .product-section-box-anhor:active, .numbers-section .numbers-section-box .numbers-section-box-anhor:active, .buton-white:focus, .full-width .offer-section .offer-section-box .offer-section-box-anhor:focus, .product-section .product-section-box .product-section-box-anhor:focus, .numbers-section .numbers-section-box .numbers-section-box-anhor:focus, .buton-white:hover, .full-width .offer-section .offer-section-box .offer-section-box-anhor:hover, .product-section .product-section-box .product-section-box-anhor:hover, .numbers-section .numbers-section-box .numbers-section-box-anhor:hover {
    background: #000;
    color: #fff; }

body {
  font-family: FuturabtBook;
  font-size: 13px; }

h1, h2, h3, h4, h5, h6 {
  font-family: #000; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

@media (max-width: 767px) {
  .animated, .animated.infinite, .animated.hinge, .animated.flipOutX,
  .animated.flipOutY,
  .animated.bounceIn,
  .animated.bounceOut {
    animation-duration: 0 !important;
    animation-name: none !important;
    transform: none !important; } }

.two-column, .full-width .offer-section, .product-section, .numbers-section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center; }
  @media (max-width: 767px) {
    .two-column, .full-width .offer-section, .product-section, .numbers-section {
      display: block; } }

.header .header-logo {
  padding: 25px 0; }
  .header .header-logo img {
    max-width: 110px; }

.site-branding.f-nav {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(250, 250, 250, 0.9); }
  .site-branding.f-nav .header-logo {
    padding: 34px 0px 10px 30px; }
    .site-branding.f-nav .header-logo img {
      max-width: 90px; }
    @media (max-width: 767px) {
      .site-branding.f-nav .header-logo {
        padding: 7px 0px 10px 30px; } }
  .site-branding.f-nav .header-social {
    display: none; }
  .site-branding.f-nav .site-navigation {
    padding-top: 49px; }

.site-navigation {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  padding-top: 50px;
  z-index: 100; }
  @media (max-width: 991px) {
    .site-navigation {
      display: none;
      position: absolute !important;
      right: 20px;
      background: #fff;
      width: 100%;
      top: 58px;
      padding: 5px 10px; } }
  .site-navigation .nav-menu {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .site-navigation li, .site-navigation .menu-item {
    display: inline-block; }
    @media (max-width: 991px) {
      .site-navigation li, .site-navigation .menu-item {
        display: block;
        text-align: center; } }
    .site-navigation li a, .site-navigation .menu-item a {
      padding: 7px 5px;
      text-decoration: none;
      text-transform: uppercase;
      color: #000; }
      .site-navigation li a:active, .site-navigation li a:focus, .site-navigation li a:hover, .site-navigation .menu-item a:active, .site-navigation .menu-item a:focus, .site-navigation .menu-item a:hover {
        color: #0069b4; }
  .site-navigation.toggled-on {
    padding: 72px 0 36px; }
    .site-navigation.toggled-on .nav-menu {
      display: block; }

/* Secondary Navigation */
.secondary-navigation {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 12px;
  margin: 48px 0; }
  .secondary-navigation a {
    padding: 9px 0; }

.menu-toggle {
  border-radius: 0;
  cursor: pointer;
  height: 48px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 0;
  text-align: center;
  width: 48px;
  display: none; }
  .menu-toggle:active, .menu-toggle focus, .menu-toggle hover {
    background-color: #444; }
  .menu-toggle:focus {
    outline: 1px dotted; }
  @media (max-width: 991px) {
    .menu-toggle {
      display: block; } }

.header-social {
  font-size: 14px;
  padding-top: 50px; }
  .header-social ul li {
    display: inline-block; }
    .header-social ul li a {
      padding: 9px 7px;
      color: #fff;
      background: #e2e5e7;
      text-decoration: none; }
      .header-social ul li a:active, .header-social ul li a:focus, .header-social ul li a:hover {
        color: #fff;
        background: #0069b4; }
  @media (max-width: 991px) {
    .header-social {
      width: 40% !important; } }

.top-section {
  width: 100%;
  padding: 0;
  margin: 0 auto; }
  .top-section .top-section-blocks {
    margin-left: 0;
    display: inline-block;
    width: 33.3%; }
    .top-section .top-section-blocks img {
      max-width: 100%; }
      @media (max-width: 991px) {
        .top-section .top-section-blocks img {
          width: 100%; } }
    .top-section .top-section-blocks h3 {
      color: #0069b4;
      margin-bottom: 5px;
      font-size: 3.2rem;
      font-weight: bold; }
    .top-section .top-section-blocks .top-section-blocks-more {
      display: block;
      background: url(../img/arrow.png) no-repeat;
      width: 50px;
      height: 15px;
      float: right;
      margin: 20px; }
    .top-section .top-section-blocks .top-section-blocks-text {
      padding: 11% 7%;
      border-right: 1px solid #e2e5e7; }
      .top-section .top-section-blocks .top-section-blocks-text .top-section-blocks-text--text {
        padding-bottom: 15px; }
    @media (max-width: 991px) {
      .top-section .top-section-blocks {
        width: 100%; } }

.container {
  max-width: 1200px; }
  @media (max-width: 1500px) {
    .container {
      max-width: 100%; } }

#owl-demo .item {
  position: relative; }
  #owl-demo .item img {
    display: block;
    width: 100%;
    height: auto; }
  #owl-demo .item .owl-demo-text {
    position: absolute;
    top: 29%;
    left: 0%;
    right: 0%;
    font-size: 5rem;
    color: #fff;
    text-align: center;
    font-weight: bold; }
    #owl-demo .item .owl-demo-text a {
      padding: 12px;
      font-size: 1.1rem;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      background: #0069b4;
      font-weight: normal; }
      #owl-demo .item .owl-demo-text a:active, #owl-demo .item .owl-demo-text a:focus, #owl-demo .item .owl-demo-text a:hover {
        background: #000;
        color: #fff; }
#owl-demo .scroll-to {
  position: absolute;
  bottom: 20px;
  position: absolute;
  left: 0%;
  right: 0%;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  font-weight: bold; }
  @media (max-width: 767px) {
    #owl-demo .scroll-to {
      display: none; } }
  #owl-demo .scroll-to img {
    width: auto;
    position: relative;
    display: inline-block;
    padding-right: 7px; }
#owl-demo .owl-controls {
  display: none !important; }

.docs-section .docs-section-box-center {
  text-align: center;
  padding: 50px 0; }
  @media (max-width: 767px) {
    .docs-section .docs-section-box-center {
      width: 100%;
      margin-left: 0px; } }
  .docs-section .docs-section-box-center h6 {
    font-weight: bold; }
@media (max-width: 767px) {
  .docs-section .docs-section-box {
    width: 0; } }

.full-width {
  margin: 50px 0;
  position: relative; }
  .full-width .offer-section {
    background: #0069b4;
    color: #fff; }
    .full-width .offer-section .offer-section-box img {
      width: 100%;
      margin: -40px 0;
      height: auto; }
    .full-width .offer-section .offer-section-box h3 {
      font-size: 2.5rem; }
    @media (max-width: 991px) {
      .full-width .offer-section .offer-section-box {
        padding-bottom: 20px;
        padding-top: 20px; } }
    @media (max-width: 767px) {
      .full-width .offer-section .offer-section-box {
        width: 100%;
        display: block;
        clear: both;
        margin-bottom: 20px; } }
    @media (max-width: 767px) {
      .full-width .offer-section .offer-section-box.offer-section-box-one {
        display: none; } }
  .full-width .full-width-bg {
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    background: #0069b4; }
    @media (max-width: 991px) {
      .full-width .full-width-bg {
        width: 100%; } }

.product-section {
  margin: 140px 0; }
  @media (max-width: 991px) {
    .product-section {
      width: 100%; } }
  .product-section .product-section-box img {
    max-width: 100%;
    max-height: 450px;
    width: auto; }
  .product-section .product-section-box h3 {
    font-size: 3rem; }
  .product-section .product-section-box:first-of-type img {
    float: right; }
  @media (max-width: 991px) {
    .product-section .product-section-box-three.columns {
      display: none; }
    .product-section .product-section-box-four.columns, .product-section .product-section-box-five.columns {
      width: 50%; } }
  @media (max-width: 767px) {
    .product-section .product-section-box-five.columns, .product-section .product-section-box-four.columns {
      width: 100%; }
      .product-section .product-section-box-five.columns img, .product-section .product-section-box-four.columns img {
        float: none;
        display: block;
        margin: 0 auto; } }

.sukces-section {
  background: #0069b4;
  height: 100%;
  overflow: hidden; }
  .sukces-section .sukces-section-box {
    display: inline-table;
    width: 19.7%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 35px 0;
    padding-bottom: 2035px;
    margin-bottom: -2000px; }
    @media (max-width: 991px) {
      .sukces-section .sukces-section-box {
        width: 48%; } }
    .sukces-section .sukces-section-box span {
      display: block;
      font-size: 30px; }
    .sukces-section .sukces-section-box:active, .sukces-section .sukces-section-box:focus, .sukces-section .sukces-section-box:hover {
      background: #005b9c; }

.finibus-section {
  text-align: center;
  padding: 100px 0; }
  .finibus-section .finibus-section-box-center a {
    display: block;
    background: url(../img/arrow.png) no-repeat right 3px;
    width: 144px;
    margin: 20px;
    margin: 0 auto;
    color: #000;
    text-transform: uppercase;
    font-size: 11px; }
  .finibus-section .finibus-section-box-center h3 span {
    color: #0069b4; }

.around-section {
  margin-bottom: 100px;
  position: relative; }
  .around-section .around-section-box--top {
    position: absolute;
    background: #0069b4;
    color: #fff;
    padding: 5%;
    bottom: -45px;
    right: 90px;
    text-align: right; }
    .around-section .around-section-box--top h4 {
      font-size: 2.0rem; }
    @media (max-width: 991px) {
      .around-section .around-section-box--top {
        width: 47%;
        right: 5px; } }
    @media (max-width: 767px) {
      .around-section .around-section-box--top {
        width: 100%;
        position: relative; } }

.numbers-section {
  margin: 120px 0;
  text-align: justify; }
  .numbers-section .numbers-section-box span {
    color: #0069b4;
    display: block;
    font-size: 25px; }
  @media (max-width: 767px) {
    .numbers-section .numbers-section-box {
      text-align: center; } }
  @media (max-width: 991px) {
    .numbers-section .numbers-section-two.columns, .numbers-section .numbers-section-one.columns {
      display: none; }
    .numbers-section .numbers-section-four.columns {
      width: 48%; }
    .numbers-section .column, .numbers-section .columns {
      margin-left: 0px; } }

.slider-section {
  margin: 100px 0;
  position: relative; }
  .slider-section #owl-slider .item {
    margin: 3px;
    padding: 0 10px; }
    .slider-section #owl-slider .item img {
      display: block;
      width: 100%;
      height: auto; }
    .slider-section #owl-slider .item h5 {
      position: absolute;
      top: 5%;
      color: #fff;
      left: 15%;
      font-size: 2.2rem; }
    .slider-section #owl-slider .item .owl-slider-image-text {
      position: absolute;
      bottom: 5%;
      color: #fff;
      left: 15%; }
  .slider-section #owl-slider .owl-controls .owl-pagination {
    display: none !important; }
  .slider-section #owl-slider .owl-controls .owl-buttons {
    float: right; }
    .slider-section #owl-slider .owl-controls .owl-buttons .owl-prev {
      background: url(../img/arow-2.png) no-repeat;
      opacity: 1;
      padding: 3px 4px; }
      .slider-section #owl-slider .owl-controls .owl-buttons .owl-prev:hover {
        opacity: 0.8; }
    .slider-section #owl-slider .owl-controls .owl-buttons .owl-next {
      background: url(../img/arow-1.png) no-repeat;
      opacity: 1;
      padding: 3px 4px; }
      .slider-section #owl-slider .owl-controls .owl-buttons .owl-next:hover {
        opacity: 0.8; }

.people-section {
  margin: 100px 0; }
  .people-section #owl-people .item {
    margin: 3px;
    padding: 0 10px;
    text-align: center; }
    .people-section #owl-people .item img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto; }
    .people-section #owl-people .item p {
      font-size: 20px;
      max-width: 800px;
      margin: 0 auto; }
    .people-section #owl-people .item .owl-people-text {
      text-align: left; }
      .people-section #owl-people .item .owl-people-text img {
        float: right; }
        @media (max-width: 991px) {
          .people-section #owl-people .item .owl-people-text img {
            float: none; } }
      .people-section #owl-people .item .owl-people-text p {
        padding-top: 37px;
        font-size: 13px; }
        .people-section #owl-people .item .owl-people-text p span {
          color: #0069b4; }
        @media (max-width: 991px) {
          .people-section #owl-people .item .owl-people-text p {
            text-align: center; } }
  .people-section #owl-people .owl-controls {
    margin-top: 32px; }
    .people-section #owl-people .owl-controls span {
      background: transparent;
      border: 2px solid #ccc;
      width: 8px;
      height: 8px; }
    .people-section #owl-people .owl-controls .active span {
      border: 2px solid #0069b4; }

.site-footer {
  background: url(../img/bgfooter.jpg) no-repeat;
  padding: 75px 0 30px 0;
  background-size: cover;
  width: 100%;
  display: table;
  color: #fff; }
  .site-footer .six.column:first-of-type, .site-footer .six.columns:first-of-type, .site-footer .five.column:first-of-type, .site-footer .five.columns:first-of-type {
    margin-left: 0; }
  .site-footer form p {
    margin-bottom: 0rem; }
  .site-footer form textarea, .site-footer form input {
    background: transparent;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase; }
  .site-footer form textarea {
    width: 100%; }
  .site-footer form input[type=submit] {
    background: #fff;
    color: #000;
    float: right;
    padding: 0 10%; }
  .site-footer form .wpcf7-form-control-wrap.your-name {
    width: 48%;
    display: inline-block;
    padding-right: 3%; }
  .site-footer form .wpcf7-form-control-wrap.your-email {
    width: 48%;
    display: inline-block; }
  .site-footer form .wpcf7-form-control-wrap input {
    width: 100%; }
  .site-footer .site-footer-contact-company {
    background: url(../img/local.png) no-repeat 0 4px;
    padding-left: 25px;
    display: block; }
    .site-footer .site-footer-contact-company.part {
      padding-bottom: 14px; }
  .site-footer .site-footer-contact-phone {
    background: url(../img/phone.png) no-repeat;
    display: block;
    padding-left: 25px; }
  .site-footer .site-footer-contact-email {
    background: url(../img/send.png) no-repeat;
    display: block;
    padding-left: 25px; }
  .site-footer .site-footer-h3 {
    padding-top: 41px; }
  .site-footer .site-footer-info {
    border-top: 1px solid #4a8eb9;
    clear: both;
    padding-top: 20px; }
    .site-footer .site-footer-info .site-footer-info-right {
      text-align: right; }

.thumbnail-top .size-post-thumbnail {
  width: 100%;
  height: auto; }

.logos-section {
  margin-bottom: 60px; }
  .logos-section .img {
    padding-left: 2%; }

/*# sourceMappingURL=layaut.css.map */
